0_homeworks/C#/9 wcf/2/Hometask3/WindowsClient/Connected Services/Converter/Converter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Converter" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Converter/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Converter/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Converter/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Converter" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConverter_LinearMeasure_InputMessage">
    <wsdl:part name="parameters" element="tns:LinearMeasure" />
  </wsdl:message>
  <wsdl:message name="IConverter_LinearMeasure_OutputMessage">
    <wsdl:part name="parameters" element="tns:LinearMeasureResponse" />
  </wsdl:message>
  <wsdl:message name="IConverter_CelsiusToFahrenheit_InputMessage">
    <wsdl:part name="parameters" element="tns:CelsiusToFahrenheit" />
  </wsdl:message>
  <wsdl:message name="IConverter_CelsiusToFahrenheit_OutputMessage">
    <wsdl:part name="parameters" element="tns:CelsiusToFahrenheitResponse" />
  </wsdl:message>
  <wsdl:message name="IConverter_FahrenheitToCelsius_InputMessage">
    <wsdl:part name="parameters" element="tns:FahrenheitToCelsius" />
  </wsdl:message>
  <wsdl:message name="IConverter_FahrenheitToCelsius_OutputMessage">
    <wsdl:part name="parameters" element="tns:FahrenheitToCelsiusResponse" />
  </wsdl:message>
  <wsdl:portType name="IConverter">
    <wsdl:operation name="LinearMeasure">
      <wsdl:input wsaw:Action="http://tempuri.org/IConverter/LinearMeasure" message="tns:IConverter_LinearMeasure_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConverter/LinearMeasureResponse" message="tns:IConverter_LinearMeasure_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CelsiusToFahrenheit">
      <wsdl:input wsaw:Action="http://tempuri.org/IConverter/CelsiusToFahrenheit" message="tns:IConverter_CelsiusToFahrenheit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConverter/CelsiusToFahrenheitResponse" message="tns:IConverter_CelsiusToFahrenheit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FahrenheitToCelsius">
      <wsdl:input wsaw:Action="http://tempuri.org/IConverter/FahrenheitToCelsius" message="tns:IConverter_FahrenheitToCelsius_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConverter/FahrenheitToCelsiusResponse" message="tns:IConverter_FahrenheitToCelsius_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConverter" type="tns:IConverter">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LinearMeasure">
      <soap:operation soapAction="http://tempuri.org/IConverter/LinearMeasure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CelsiusToFahrenheit">
      <soap:operation soapAction="http://tempuri.org/IConverter/CelsiusToFahrenheit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FahrenheitToCelsius">
      <soap:operation soapAction="http://tempuri.org/IConverter/FahrenheitToCelsius" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Converter">
    <wsdl:port name="BasicHttpBinding_IConverter" binding="tns:BasicHttpBinding_IConverter">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Converter/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>